<% if calendar_items.any? %>
  <dl class="highlight">
    <dt>Calendar</dt>
    <dd>
        <ul class="links">
        <% calendar_items.each do |item| %>
          <li>
            <% if p = Settings.get_page(:content, :calendar_items_overview_page_id) %>
              <a href="<%= p.url %>">
            <% else %>
              <a name="<%= item.id %>">
            <% end %>
            <strong><%= l(item.calendar_date,:format => :long) %></strong><br />
            <%= item.title %>
            </a>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>