<dl class="info">
  <dt><%=link_section.title%></dt>
  <dd>
    <% if link_section.links.any? %>
      <ul class="links">
        <% link_section.links.each do |link| %>
          <% options = link.external? || link.file? ? {:target => "_blank"} : {} %>
          <% if link.file? && link.linked.present? %>
            <li class="<%= link.linked.file_type %>"><%= link_to link.title.to_s + "(#{link.linked.file_type.upcase} #{number_to_human_size(link.linked.size)})", link.url, options %>
          <% else %>
            <li><%= link_to link.title, link.url, options %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </dd>
</dl>