<% nesting = article_version.page.nesting.map{|p| [p.published_publication_data.andand.navigation_title,p.url]} %>
<% nesting[-1][0] = article_version.data.navigation_title %>
<% bc = bread_crumb(nesting,:max_length => 80) %>
<p class="breadcrumb">
  <% bc.each do |p| %>
    <% if p.nil? %>
      ...
    <% else %>
      <% if p == bc.last %>
        <span><%= p[0] %></span>
      <% else %>
        <%=link_to p[0], p[1]%> 
      <% end %>
    <% end %>
    <%= "&gt;" unless p == bc.last %>
  <%end%>
</p>
